@use 'variables';
@use 'header';
@use 'home';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'ITCBlair';
    src: url('../../assets/fonts/blair-itc-medium.otf');
    font-weight: 400;
}

body {
    background-color: variables.$bgColor;
}